@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

@utility container{
  margin-inline: auto;
}

@media print{
  #resumePreviewDiv{
    zoom: 1 !important;
    padding: 0;
  }
}

#resumePreviewDiv{
  font-family: Arial, Helvetica, sans-serif ;
}

@page{
  size: A4;
  margin: 0.6cm;
  padding: 1cm;
}


@layer utilities{
  h1{
    @apply
    text-2xl text-balance lg:text-4xl font-bold leading-tight
  }

  h2{
    @apply
    text-xl text-balance lg:text-2xl font-bold leading-tight
  }

  button{
    @apply
    cursor-pointer
  }

  #resumePreviewDiv h1{
    @apply
    text-2xl uppercase
  }

  #resumePreviewDiv h2{
    @apply
    text-[14px] font-semibold
  }

  #resumePreviewDiv p{
    @apply
    lg:text-[14px]
  }
  
  #resumePreviewDiv span{
    @apply
    lg:text-[14px]
  }

}

