@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

@utility container{
  margin-inline: auto;
}

@layer utilities{
  h1{
    @apply
    text-4xl font-bold leading-tight
  }
  h2{
    @apply
    text-2xl font-semibold leading-tight
  }

  button{
    @apply
    cursor-pointer
  }
}

